.recipe li {
    float: left;
    width: 40%;
    font-size: 1.3em;
    line-height: 31px;
  }

  .print img {
    margin-right: 3px;
  }

  .print {
    text-decoration: none;
    padding-left: 30px;
    float: right;
  }

  .date {
    float: left;
  }

  #logo img {
    float: left;
  }