.print {
    text-decoration: none;
    padding-left: 30px;
    float: right;
}

.date {
    float: left;
}

#logo img {
    float: left;
}

.recipe {
    height: 260px;
    padding: 37px 0 0 60px;
    margin: 40px 0;
}

aside {
    padding-top: 30px;
    padding-bottom: 60px
}