nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

nav ul, .print {
  float: right;
}

aside img, #logo img, .date, nav li {
  float: left;
}

nav li {
  padding-right: 2px;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}

.print {
  text-decoration: none;
  padding-left: 30px;
}

.print img {
  margin-right: 3px;
}
